<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="menu" menuToggle class='menu-icon'></ion-icon>
      निचली पंक्ति (Downline)
      <div class="logo"><img src="../../assets/images/contoso_natura_logo.png"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>

    <ion-row>
      <div class="float_wrapper" col-6>
        <ion-item>
          <ion-datetime [(ngModel)]="objmodel.fdate" placeholder="Activation From" displayFormat="DD/MM/YYYY">
          </ion-datetime>
        </ion-item>
        <ion-icon name="calendar" class="money date"></ion-icon>
      </div>
      <div class="float_wrapper" col-6>
        <ion-item>
          <ion-datetime [(ngModel)]="objmodel.tdate" placeholder="To" displayFormat="DD/MM/YYYY"> </ion-datetime>
        </ion-item>
        <ion-icon name="calendar" class="money date"></ion-icon>
      </div>
    </ion-row>
    <ion-row>
      <div class="float_wrapper" col-6>
        <ion-item>
          <ion-select [(ngModel)]="objmodel.status" placeholder="Select Status">
            <ion-option value="All">All</ion-option>
            <ion-option value="Active">Active</ion-option>
            <ion-option value="InActive">InActive</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="float_wrapper" col-6>
        <ion-item>
          <ion-select [(ngModel)]="objmodel.Fkpid" placeholder="Select Plan">
            <ion-option value="0">All</ion-option>
            <ion-option value="1">Plan A 8500</ion-option>
            <ion-option value="2">Plan B 4500</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <button ion-button (click)="GetReport()">Get Report</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button (click)="Reset()">Reset</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button [disabled]="data.length==0" (click)="OnExport()">Exel</button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <table>
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Member ID</th>
          <th>Member Name</th>
          <th>Sponsor ID</th>
          <th>Joining Date</th>
          <th>Plan</th>
        </tr>
      </thead>
      <tbody *ngIf="data.length>0">
        <tr *ngFor="let item of data">
          <td>{{item.RowId}}</td>
          <td>{{item.LoginId}}</td>
          <td>{{item.DisplayName}}</td>
          <td>{{item.SponsorId}}</td>
          <td>{{item.JoiningDate}}</td>
          <td>{{item.BookingAmt}}</td>
        </tr>

      </tbody>
      <tbody *ngIf="data.length==0">
        <tr>
          <td colspan="6">
            No Record Found
          </td>

        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="GoToDashboard()">Contoso उजाला</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
