<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="menu" menuToggle class='menu-icon'></ion-icon>
      Member Registration
      <div class="logo"><img src="../../assets/images/contoso_natura_logo.png"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <h2>Sponsor</h2>
    <ion-item>
      <ion-label>Activation Code:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.epin" readonly (change)='validateepin()' placeholder="Activation Code">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sponsor Code:</ion-label>
      <ion-input [(ngModel)]='sponser.code' (change)='validatesponser()' placeholder="Sponsor Code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sponsor Name:</ion-label>
      <ion-input [readonly]='true' [(ngModel)]='sponser.name' placeholder="Sponsor Name"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <h2>Personal Details</h2>
    <ion-item>
      <ion-label>Full Name:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.name" placeholder="Enter your name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mobile:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.mobile" placeholder="Enter your Mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State:</ion-label>
      <ion-select interface="popover" [(ngModel)]="MemberInfo.stid" placeholder="Select State">
        <ion-option *ngFor="let st of states" (ionSelect)="getcity(st)" [value]="st.PK_StateId">{{st.StateName}}
        </ion-option>
        <!-- <ion-option value="MP">MP</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>District:</ion-label>
      <ion-select interface="popover" [(ngModel)]="MemberInfo.ctid" placeholder="Select Distract">
        <ion-option *ngFor="let ct of city" [value]="ct.PK_CityId">{{ct.CityName}}</ion-option>
        <!-- <ion-option value="Kanpur">Kanpur</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.cityname" placeholder="Enter your city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.address" placeholder="Enter your address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pin:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.pincode" placeholder="Enter your PIN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Aadhar No.:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.adhar" placeholder="Enter your Aadhar No."></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <h2>Bank Details</h2>
    <ion-item>
      <ion-label>Account No.:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.ac" placeholder="Enter your account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bank Name:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.bank" placeholder="Enter your bank name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Branch Name:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.branch" placeholder="Enter your branch name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>IFSC Code:</ion-label>
      <ion-input [(ngModel)]="MemberInfo.ifsc" placeholder="Enter your IFSC Code"></ion-input>
    </ion-item>
  </ion-card>
  <ion-row>
    <ion-col col-6>
      <button ion-button (click)='getregister()'>Register</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button (click)="reset()">Cancle</button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button>Contoso Ujala</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
