<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="menu" menuToggle class='menu-icon'></ion-icon>
      Edit Profile
      <div class="logo"><img src="../../assets/images/contoso_natura_logo.png"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="infouser.length>0">
  <ion-card>
    <h2>Sponsor</h2>
    <ion-row>
      <ion-col col-4><strong>Sponsor Code:</strong></ion-col>
      <ion-col col-8>WEM4560</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <h2>Personal Details</h2>
    <ion-item>
      <ion-label>Full Name:</ion-label>
      <ion-input [(ngModel)]="infouser[0].FirstName" placeholder="Enter your name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mobile:</ion-label>
      <ion-input [(ngModel)]="infouser[0].PMobile" placeholder="Enter your Mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State:</ion-label>
      <ion-select interface="popover" [(ngModel)]="infouser[0].StateId" placeholder="Select State">
        <ion-option *ngFor="let st of states" (ionSelect)="getcity(st)" [value]="st.PK_StateId">{{st.StateName}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Distract:</ion-label>
      <ion-select interface="popover" [(ngModel)]="infouser[0].CityId" placeholder="Select Distract">
        <ion-option *ngFor="let ct of city" [value]="ct.PK_CityId">{{ct.CityName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>City:</ion-label>
      <ion-input [(ngModel)]="infouser[0].City" placeholder="Enter your city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address:</ion-label>
      <ion-input [(ngModel)]="infouser[0].Address" placeholder="Enter your address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pin:</ion-label>
      <ion-input [(ngModel)]="infouser[0].PinCode" placeholder="Enter your PIN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Aadhar No.:</ion-label>
      <ion-input [(ngModel)]="infouser[0].AddharNo" placeholder="Enter your Aadhar No."></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <h2>Bank Details</h2>
    <ion-item>
      <ion-label>Account No.:</ion-label>
      <ion-input [(ngModel)]="infouser[0].MemberAccNo" placeholder="Enter your account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bank Name:</ion-label>
      <ion-input placeholder="Enter your bank name" [(ngModel)]="infouser[0].MemberBankName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Branch Name:</ion-label>
      <ion-input placeholder="Enter your branch name" [(ngModel)]="infouser[0].MemberBranch"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>IFSC Code:</ion-label>
      <ion-input placeholder="Enter your IFSC Code" [(ngModel)]="infouser[0].IFSCCode"></ion-input>
    </ion-item>
  </ion-card>
  <ion-row>
    <ion-col col-6>
      <button (click)="updateProfile()" ion-button>Submit</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button (click)="reset()">Cancle</button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button>Contoso उजाला</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
